<html>
<head>
<title>Contact Us</title>
</head>

<body>
<hr>
<img   src="../static/Images/re.jpg" alt="Girl in a jacket"  WIDTH="400" HEIGHT="500" align="middle" /></br>
<hr>

<p>The admins of this site are<b> Hariom verma-TL Contact - hariom18599@gmail.com </b>, <b>Sonal Dangi</b>, <b>Sahil Babani</b> and <b>Uday Mewada</b>.
<br>you an contact them through he following:- <h3>email Id: sonaldangi2@gmail.com </br> Contact Number:9407522011 <br> hariom18599@gmail.com</h3></p>
<hr><hr>
</body>

</html>
