<!DOCTYPE html>
<html>
<head>
<title>HomePage</title>
<link rel="stylesheet" type="text/css" href="../static/css/h1.css">
</head>
<body>
<header>
<div class="main">
<ul>

<li><a href=http://127.0.0.1:8000/faculty/> FACULTIES </a></li>

<li><a href=http://127.0.0.1:8000/about/> ABOUT US</a></li>

<li><a href=http://127.0.0.1:8000/feedback/>STUDENT FEEDBACK</a></li>

<li><a href=http://127.0.0.1:8000/tt/> TIMETABLE </a></li>

<li><a href=http://127.0.0.1:8000/contacts/> CONTACT US </a></li>

<li><a href=http://127.0.0.1:8000/login/> LOGIN </a></li>

<li><a href=http://127.0.0.1:8000/registration/> SIGN UP </a></li>

<li><a href=http://127.0.0.1:8000/attendence/> ATTENDENCE</a></li>

</ul>
</div>
<div class="title">
<h1>TEACHER'S FEEDBACK SYSTEM</h1>
<div class="button">
</header>
</body>
</html>